# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Django
db.sqlite3
*.sqlite3

# Testing
.coverage
.coverage.*
.pytest_cache/
htmlcov/

# Docker
.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
